<html>
  <head>
     <link href='./ /style.css' rel='stylesheet' />
      <link rel='icon' href='./img/icon.png' />
    <link href='./css/style.css' rel='stylesheet' />
    <title>
      About
    </title>
  </head>
  <body>
    <div class ="main-content">
      {{>header}}
      <img class="portrait" src='img/me.jpg' />
      <p>Created by {{name}} </p>

    
     </div>
       {{>footer}}
    
  </body>

</html>