<html>
  <head>
    <link href='./css/style.css' rel='stylesheet' />
     <link rel='icon' href='./img/icon.png' />
    <title>Help</title>
  </head>
  <body>
    <div class ="main-content">
    {{>header}}
 
    <p>Hello by {{name}}</p>

   
     </div>
       {{>footer}}
  </body>
</html>